<!doctype html>
<html lang="en">
    <head>
        {% include 'base/head.twig' with { title: 'Robert Wesner - Blog' } %}
        <link rel="stylesheet" href="/css/view/index.css">
    </head>
    <body>
        Here is where the blog would be, obviously
    </body>
</html>
