<!doctype html>
<html lang="en">
    <head>
        {% include 'base/head.twig' with { title: 'Robert Wesner - Home' } %}
        <link rel="stylesheet" href="/css/view/index.css?2">
    </head>
    <body>
        {% include 'base/navigation.twig' with { current: 'main' } %}
        <div id="content">
            <div class="screen">
                <div>
                    <img src="/img/face.png" alt="">
                    <h1>
                        Robert Wesner<br><small><span aria-hidden="true">Fachinformatiker / </span>Software developer</small>
                    </h1>
                </div>
            </div>
            <div class="screen">
                <main>
                    <section>
                        <h2>About me</h2>
                        <p>
                            Hello there! I'm Robert, a full time back end developer and clean code enthusiast living in germany.
                        </p>
                        <p>
                            This is the home of my internet presence and lets you access my projects and activity on the web.
                            Mostly you will find open source software ranging from useful to just a fun exercise.
                            Want to have a look? All of them are hosted on <a href="https://github.com/RobertWesner">GitHub</a>.
                        </p>
                    </section>
                    <section>
                        <h2>Knowledge</h2>
                        <p>
                            Due to me being a software developer since late 2019 and spending much of my time outside work honing these skills,
                            I have gathered a proud portfolio of languages and tools I am familiar with.
                        </p>
                        <p>
                            You can find a complete timeline by visiting my <a href="https://knowledge.robert.wesner.io/">knowledge</a> website.
                        </p>
                        <p>
                            My language of choice is PHP 8+, though I do work with Java professionally as well.
                            Despite being mainly a back end developer, I also handle some front end work with Javascript and Typescript.
                            In my spare time I am familiarizing myself with Go, Kotlin, and Ruby.
                        </p>
                    </section>
                    <section>
                        <h2>Projects</h2>
                        <p>
                            Currently, I maintain mostly userscripts and the odd security project while working on a few
                            more grand things in the background.
                        </p>
                        <p>
                            One of my most popular projects can be found on <a href="https://scripts.yt" aria-label="scripts dot Y T"><span aria-hidden="true">scripts.yt</span></a>,
                            a collection of useful userscripts for YouTube.
                            A slightly less useful but hopefully more impressive project is my <a href="https://github.com/Novara-PHP/psr7">PSR-7 implementation without the use of variables.</a>
                        </p>
                        <p>
                            To get an exhaustive view of my creations, take a look at the <a href="/projects/">projects page</a>.
                        </p>
                    </section>
                </main>
            </div>
        </div>
        <aside id="socials" aria-label="social media links">
            <a
                href="https://www.reddit.com/user/RobertWesner/"
                target="_blank"
                style="--delay: 1.32s; background-color: #FF5700"
                aria-label="Reddit profile at reddit dot com slash U slash RobertWesner"
            >
                <i class="fa-brands fa-reddit fa-2x" aria-hidden="true"></i>
                <span>
                    u/RobertWesner
                </span>
            </a>
            <a
                href="https://github.com/RobertWesner"
                target="_blank"
                style="--delay: 1s; background-color: #24292e"
                aria-label="GitHub profile at GitHub dot com slash RobertWesner"
            >
                <i class="fa-brands fa-github fa-2x" aria-hidden="true"></i>
                <span>
                    @RobertWesner
                </span>
            </a>
        </aside>
    </body>
</html>
