<!doctype html>
<html lang="en">
    <head>
        {% include 'base/head.twig' with { title: 'Robert Wesner | Projects' } %}
        <link rel="stylesheet" href="/css/view/projects.css">
    </head>
    <body>
        <main class="screen">
            Here is where the projects would be, currently in development
        </main>
    </body>
</html>
