#navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1rem;
}

#navigation > nav {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

#navigation > nav a {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #24292e;
    text-align: right;
}

#navigation > nav a:hover, #navigation > nav a:focus {
    background-color: #383e44;
}

#navigation > nav a[aria-current="page"] {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column-reverse;
    }

    #navigation {
        position: static;
    }

    #navigation > nav > a {
        text-align: center;
    }
}
