<aside id="navigation">
    <nav role="navigation" aria-label="Main">
        {% for page in [
            {
                id: 'main',
                url: '/',
                text: 'Main page',
            },
            {
                id: 'projects',
                url: '/projects/',
                text: 'Projects',
            },
            {
                id: 'blog',
                url: '/blog/',
                text: 'Blog',
            },
            {
                id: 'imprint',
                url: 'https://datenschutz.robertwesner.de/impressum',
                text: 'Imprint',
            },
            {
                id: 'privacy',
                url: 'https://datenschutz.robertwesner.de/dataprotection',
                text: 'Privacy',
            },
        ] %}
            <a href="{{ page.url }}"{% if current == page.id %} aria-current="page"{% endif %}>
                {{ page.text }}
            </a>
        {% endfor %}
    </nav>
</aside>
